#card{
    background-color: #F0F2F5;
    border-radius: 10px
}

#example1 {
    border-collapse: separate;
    border-spacing: 0 15px;

}#example1 thead tr th{
     border: none;

}
td {
    /*border: solid 1px #000;*/
    /*border-style: solid none;*/
    padding: 10px;
    /*background-color: cyan;*/
}
td:first-child {
    /*border-left-style: solid;*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
td:last-child {
    /*border-right-style: solid;*/
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
